---
---

$text:#222;
$bg:#e2e2e2; /* e2e2e2 d7dddf e0dfdb dbe0db */
$accent:#38547a; /* 018BF2 f27e01 */

@mixin font-family-serif { font-family:georgia,'lucida grande',verdana,sans-serif; }
@mixin font-family-sans { font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana sans-serif; }

* { 
	margin:0; 
	padding:0;
}

html { 
	height:100%; 
	margin-bottom:1px; 
}

body { 
	border-top:0.25em solid $accent; 
	color:$text; 
	background:$bg url(/images/bg.png); 
	font-size:1.2em;
	@include font-family-serif; 
	text-shadow:#fff 0px 1px;
}

h1, h2, h3, h4, h5 { @include font-family-sans; }

h3 { 
	font-size:1em;
	color:$accent;
	margin-bottom:20px; 
}

h4, h5 { 
	font-size:1em;
	margin-bottom:20px;
	
	span { 
		display:block;
		color:$text + 50; 
		font-weight:normal;
	}
}

ul, ol { 
	margin-left:20px;
	margin-bottom:20px; }

em { text-decoration:italic; }

strong { font-weight:bold; }

section { 
	display:block;
	width:640px; 
	margin:0 auto;
	padding:50px 0; 
	line-height:1.5; 
	min-height:400px;
	
	h2 {
		font-size:30px; 
		margin-bottom:30px;
	}
	
	p { margin-bottom:20px; }
	
	a { 
		text-decoration:none;
		color:$accent; 
		border-bottom:1px solid $text;
	}
	
	a:hover { color:$text; }

	hr { 
		height:1px; 
		width:50%;
		margin:50px auto 0;
		border:0; 
		color:$bg - 35;
		background-color:$bg - 35;
		border-bottom:1px solid $bg + 20;
	}
}

.employer {
	margin:0;
	padding:0 0 0 20px;
	border-left:1px solid $bg - 35;
}