---
---
%html
	%head
		%title {% if page.title %} {{ page.title }} &mdash; Tres Trantham{% else %}Tres Trantham &mdash; Problem Solver{% endif %}
		%link(rel="shortcut icon" href="/favicon.ico")
		%link(rel="stylesheet" href="/stylesheets/screen.css" media="screen" type="text/css")
		%script{:type => "text/javascript", :src  => "/mint/?js"}
		/[if IE]
			%script{:type => "text/javascript", :src  => "/javascript/html5.js"}
	%body
		%header
			%h1 trestrantham
		%nav
			Nav1
			Nav2
		%section#main
			something in main
		%footer
			something in footer