<!doctype html>
<head>
  <title>{% if page.title %} {{ page.title }} &mdash; Tres Trantham{% else %}Tres Trantham &mdash; Problem Solver{% endif %}</title>
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="http://mint.trestrantham.com/?js" type="text/javascript"></script>
  <script type="text/javascript" src="http://use.typekit.com/cuy2oyc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--[if IE]>
  <script src="/javascript/html5.js"></script>
  <![endif]-->
</head>
<body>
  <section>
    {{ content }}
    <hr />
  </section>
</body>
<script src="//landmark.io/landmark.js"
  data-api-key="7c2dc18a6fcee5274fbb0bcd1a61cc98">
</script>
</html>
