<!doctype html>
<head> 
	<title>{% if page.title %} {{ page.title }} &mdash; Tres Trantham{% else %}Tres Trantham &mdash; Problem Solver{% endif %}</title>
	<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
	<script src="/mint/?js" type="text/javascript"></script>
	<script type="text/javascript" src="http://use.typekit.com/cuy2oyc.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!--[if IE]>
	<script src="/javascript/html5.js"></script>
	<![endif]-->
</head>
<body>
	{% if page.header %}
	<header>
		<div>
			<h1>Tres<span>Trantham</span></h1>
			<nav>
				<ul>
					<li><a href="/">About</a></li>
					<li><a href="/">Resume</a></li>
				</ul>
			</nav>
		</div>
	</header>
	{% endif %}
	<section>
		{{ content }}
		<hr />
	</section>
</body>
</html>